table#attendance .btn {
    display: inline;
    color: white;
    border: none;
    margin: 0 0.25em;
    padding: 0.25em 0.75em;
}
table#attendance .btn.active {
    background-color: #b02a37;
}
table#attendance .btn.inactive {
    background-color: #6c757d;
}
table#attendance .btn.active:hover {
    filter: brightness(1.15);
}
table#attendance .btn.inactive:hover {
    filter: brightness(1.25);
}
@media (max-width: 720px) {
    table#attendance .btn {
        padding: 0.125em 0.5em;
        margin: 0 0.125em;
    }
}
@media (max-width: 600px) {
    table#attendance .userid {
        display: none;
    }
}