{% extends "base-wide.html" %}
{% load static %}
{% load compress %}

{% block headextra %}

{% compress css %}
<link rel="stylesheet" href="{% static "styled-notifications/dist/notifications.css" %}" />
{% endcompress %}
{% compress js %}
<script src="{% static 'styled-notifications/dist/notifications.js' %}"></script>
<script src="{% static 'htmx.org/dist/htmx.min.js' %}"></script>
{% endcompress %}
<script nonce="{{ CSP_NONCE }}">
const refresh_url = "{% url 'offering:attendance:refresh' course_slug=offering.slug activity_slug=activity.slug %}";
$(document).ready(function() {
    attendance_ready();
});


function attendance_update() {
    fetch(refresh_url)
    .then(response => response.json())
    .then(data => {
        for ( const sid in data ) {
            htmx.swap(sid, data[sid], { swapStyle: 'outerHTML' });
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}
function attendance_ready() {
    document.body.addEventListener("showSaved", function(e){
        const successNotification = window.createNotification({
            theme: 'success',
            showDuration: 5000
        })({ 
            message: e.detail.value
        });
    });

    setInterval(attendance_update, 6000);

    var table = $('#attendance').dataTable({
        "bPaginate": false,
        "bJQueryUI": true,
        "aaSorting": [[0, "asc"], [1, "asc"]],
	  });
}
</script>
<style>
table#attendance .btn {
    display: inline;
    color: white;
    border: none;
    margin: 0 0.25em;
    padding: 0.25em 0.75em;
}
table#attendance .btn.active {
    background-color: #b02a37;
}
table#attendance .btn.inactive {
    background-color: #6c757d;
}
table#attendance .btn.active:hover {
    filter: brightness(1.15);
}
table#attendance .btn.inactive:hover {
    filter: brightness(1.25);
}
@media (max-width: 720px) {
    table#attendance .btn {
        padding: 0.125em 0.5em;
        margin: 0 0.125em;
    }
}
@media (max-width: 600px) {
    table#attendance .userid {
        display: none;
    }
}
</style>
{% endblock %}

{% block title %}Take Attendance{% endblock %}
{% block h1 %}Take Attendance{% endblock %}
{% block subbreadcrumbs %}<li><a href="{% url "offering:course_info" course_slug=offering.slug %}">{{ offering.name }}</a></li><li><a href="{{ activity.get_absolute_url }}">{{activity.name}}</a></li><li>Attendance</li>{% endblock %}

{% block content %}

<table id="attendance" class="display" hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    <thead><tr><th scope="col">Last Name</th><th scope="col">First Name</th><th class="userid" scope="col">Userid</th><th scope="col">Present?</th></tr></thead>
    <tbody>
    {% for student, attendance in student_data %}
        <tr>
            <td>{{ student.person.last_name }}</td><td>{{ student.person.first_name }}</td><td class="userid">{{ student.person.userid }}</td>
            <td>{% include "attendance/_buttons.html" with offering=offering activity=activity userid=student.person.userid status=attendance.status only %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
